
* {
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
}

body {
    direction: rtl;

}
:root {
    --blue: #153679;
    --green:#2B9D6A;
    --greenHover :#0F8450;
    --margin-section-lg :140px;
  }
/*--------Start navbar syle-----*/
/*--------Start navbar syle-----*/

.navbar {
  
    direction: rtl;
    height: 100px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(238, 238, 238, 0.20);
}
.logo-container{
    display: flex;
 }
.navbar-logo{
        border-radius: 50%;
        border: none;
        width: 48px;
        height: 48px;
    }  
.navbar span{
        color: var(--blue);
        font-size: 32px;
        font-weight: 500;
}


.navbar .navbar-toggler i{
    color: rgb(0, 0, 0);
    border-color: none;

}

.navbar .navbar-toggler i:focus{
    box-shadow: none;
}


.collapse .navbar-nav .nav-item a{
    position: relative;
    white-space: nowrap;
    color: #767676;
    font-family: 'Tajawal';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding:40px 20px;
}
.navbar .navbar-nav .nav-item-page :focus{
    color: var(--green);
    font-weight: 700;
    position: relative;
}

.collapse .navbar-nav .nav-item-page a:focus::after,
.collapse .navbar-nav .nav-item-page a:visited::after{
    content:"";
    display: block;
    width: 24px;
    height: 4px;
    position: absolute;
    left: 40px;
    background-color: var(--green);
    border-radius:8px ;
}

.collapse .navbar-nav .nav-item a:hover{
    color: var(--green);
}

#navbarSupportedContent{
    display: flex;
    justify-content: space-between;
}
.left-nav{
    display: flex;
    flex-direction: row !important;
}
.left-nav button {
    outline: none; 
    display: flex;
    padding: 13px 24px;
    height: 48px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--blue);  
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    margin: 26px 8px 26px 0px;
}
.left-nav .login-btn button {
    color: var(--blue);
    background-color: white;
    /* margin:26px  0px 26px 8px; */
}
.left-nav .login-btn button:hover{
   background: var(--blue);
   color: white;
}

.left-nav .signup-btn button{
  color: white;
   background: var(--blue);

}
.left-nav .signup-btn button:hover{
  background: #022366;
}
 .sidebar {
    display: none;
    flex: 1 1 0;
    z-index: 1000;
    padding: 3rem 0;
    width: 100% ;
    background-color: #fff;
    position: fixed;
    height: auto;
    top: 0;
    transition: left 0.3s;
}
.sidebar .close-sidebar{
    font-size: 24px;
    display: flex;
    margin-left: 20%;
    margin-top: -10px;
    justify-content: left;
}
.sidebar .menu ul{
    list-style: none;
}
.sidebar .menu {
    margin-top: 20px;
    margin-left: 20px;
}
.sidebar .menu .menu-ul .login-btn button{
    color: var(--blue);
    background-color: white;
    width: 80%;
}
.sidebar .menu .menu-ul .login-btn button:hover{
    background: var(--blue);
    color: white;
}
.sidebar .menu .menu-ul button{
    outline: none; 
    padding: 13px 24px;
    height: 48px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--blue);  
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    margin-top: 16px;
}
.sidebar .menu .menu-ul .signup-btn button{
    width: 80%;
    color: white;
     background: var(--blue);
  
  }
  .sidebar .menu .menu-ul .signup-btn button:hover{
    background: #022366;
  }
.sidebar .menu .menu-item {
    width: 80%;
    display: block;
    padding: 13px 24px;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    border-radius: 8px;
    background: #FCFCFC;
    color: #313131;
    font-size: 18px;
    font-weight: 500;
    margin-top: 16px;
}

.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item:active{
    background: rgba(21, 54, 121, 0.16);
} 


/*-------- End navbar syle-----*/





/* Start Second part style */

.header-section{
    background-image: url("../images/headerbg.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 100% 720px;
}
.header-section .header-image{
    width: auto;
    height: 720px;
}
.header-section img{
   width: 100%;
   height: 100%;
   object-fit: cover;

}
.header-section .header-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.header-section .header-text h2 {
    color: #313131;
    text-align: right;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-right: 8px;
}

.header-section  .header-text h2 span{
    color: #2B9D6A;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.header-section .header-text  p {
    padding-right: 8px;
    color: #505050;
    text-align: right;
    line-height: 2;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    margin-top: 32px;
    margin-bottom: 48px;
   
}

.header-section .header-text  button {
    display: inline-flex;
    padding: 13px 24px;
    width: 180px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    border-radius: 8px;
    background: var(--green);
    border: none;
}
.header-section .header-text button:hover
{
   background-color: var(--greenHover);
}
/* end Second part style */


/* Start third part style */

.partner-section {
    margin: var(--margin-section-lg) 0;
    text-align: center;
}
.partner-section h3{
    color: var(--blue);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.partner-section h3 span{
    color: var(--green);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.partner-section p{
    color: #565656;
    font-size: 18px;
    font-weight: 400;
    line-height: 2;
}
.owl-one .owl-item img{
    margin-top: 64px;
    width: 184px !important;
}


/**/
.Become-Partner{
    background-image: url("../images/Background.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size:100% 100%;
    margin-bottom: 100px;
    padding: 80px 0;
    height: 100%;
    background-color: #F3F5F8;
}
.Become-Partner .Become-Partner-bg{
    background-color: var(--blue);
    border-radius: 16px;
    background-image: url("../images/Background2.svg");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size:100% 100%;

}
.Become-Partner .Become-Partner-bg .Become-Partner-container{
    display: flex;
    justify-content: space-around;
}
.Become-Partner-text {
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
}
.Become-Partner-text::after{
    content: url('../images/Vector.svg');
    display: block;
    position: absolute;
    bottom: 5px;
    left: -180px;
}

.Become-Partner-bg h3{
    color: #fff;
    font-size: 32px;
    font-weight: 800;
    white-space: nowrap;
}
.Become-Partner-bg p{
    color: #f1f1f1;
    font-size: 20px;
    font-weight: 400;
    line-height: 2;
    padding-top: 16px;
}

.Become-Partner-bg button{
    padding: 13px 48px;
    border-radius: 8px;
    background: var(--green);
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    border: none;
    margin-top: 24px;
    margin-bottom: 40px;
   
}
.Become-Partner-bg button:hover{
    background-color: var(--greenHover);
}


/*******************************/
.Features-Section{
    text-align: center;
    margin-top: var(--margin-section-lg);
}
.Features-Section h4{
    color: var(--blue);
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
}
.Features-Section h4 span{
    color: var(--green);
    font-size: 36px;
    font-weight: 700;
}

.Features-Section .title-section
{
    padding-top: 24px;
    color: #565656;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 40px;
}
.Features-Section .cards{
    margin-top: 40px;
}
.Features-Section .single-card {
    text-align: right;
    /* padding-bottom: 75px; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Features-Section .single-card img{
    width: 48px;
    height: 48px;
}
.Features-Section .single-card h5
{
    color: var(--blue);
    padding-top: 32px;
    font-size: 30px;
    font-weight: 700;
}
.Features-Section .single-card p
{
    color: #454545;
    font-size: 20px;
    padding-left: 80px;
    font-weight: 400;
    line-height: 2;
    text-align: right;
}
.Features-Section .card-image{
    background-color: #F3F5F8; 
}
.Features-Section .cards .card-image img{
    margin: auto;
    width: 75%;
    animation: moveUpDown 1s infinite alternate;
    top :10px;
    left: 10px;
}
@keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10%);
    }
  }
.Features-Section .cards:nth-child(2) .single-card {
    padding-right: 80px;
}
/****************************************/
.Customer-Section {
    margin-top: var(--margin-section-lg);
    background: #F3F5F8;
    padding: 80px 0;
}
.Customer-Section .inline{
    display: flex;
    margin-top: 40px;
}
.Customer-Section h5{
    text-align: center;
    color: var(--blue);
    font-size: 36px;
    font-weight: 700;
}
.Customer-Section .inline span
{
    color: #313131;
    font-size: 30px;
    font-weight: 500;
    padding-right: 8px;
    white-space: nowrap;
}
/**************************************/

.Electronic-connectivity-Section{
    margin-top: var(--margin-section-lg);
    text-align: center;
}
.Electronic-connectivity-Section h5
{
    color: var(--blue);
    font-size: 36px;
    font-weight: 700;
}
.Electronic-connectivity-Section p
{
    padding-top: 24px;
    color: #565656;
    font-size: 18px;
    font-weight: 400;
}

.Electronic-connectivity-Section .links-container{
    margin: 48px 10px; 
    display: flex;
    flex-wrap: wrap;
}
.Electronic-connectivity-Section .links-container .frame{
    width: 20%;
    margin-top: 80px;
}
 /*  */
 .seven-section{
   margin-top: 150px;
   text-align: center;
 }
 .seven-section h4{
    color: var(--blue);
    font-size: 36px;
    font-weight: 700;
 }
 .seven-section h4 span{
    color: var(--green);
 }
 .seven-section .main-p {
    margin-top: 24px;
    color: #565656;
    font-size: 18px;
    font-weight: 400;
}
.seven-section .single-card 
{
    border-radius: 16px;
    background: #FCFCFC;
    position: relative;
    margin-top: 100px;
   
}
.seven-section .single-card img{
    width: 150px !important;
    height: 150px;
    border: 10px solid #fff;
    border-radius: 50%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: -75px;
}

.seven-section .single-card .quote {
    padding: 110px 20px 0 20px;
    position: relative;
    text-align: right;
    
}

.seven-section.single-card .quote p {
    color: #313131;
    font-size: 20px;
    text-align: right;
}

.seven-section .single-card .quote::before {
    content: url('../images/right-quote.svg');
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    top:75px;
    right:20px;

}

.seven-section .single-card .quote::after {
    content: url('../images/left-quote.svg');
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    bottom: -10px;
    left:24px;
}

.seven-section .single-card .name h5
{
    margin-top:24px;
    color: var(--blue);
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}
.seven-section .single-card .name p{
    color: #7A7A7A;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 40px;
}



/*Features-Section2 stye*/
.Features-Section2 {
    margin-top:var(--margin-section-lg);
    background-color: var(--blue);
}

.Features-Section2 h6{
    text-align: center;
    padding-top: 80px;
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
}
.Features-Section2 .single-card h5
{   padding-top: 24px;
    color: #FFF;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.Features-Section2 .single-card{
    margin-top: 40px;
    margin-right: 10px;
    padding-bottom: 40px;
}
.Features-Section2 .single-card p
 {
    color: #EEE;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
 }
/* price-model-section*/ 
.price-model-section {
    margin-top: var(--margin-section-lg);
    text-align: center;
}

.price-model-section  h3{
    color: var(--blue);
    font-size: 36px;
    font-weight: 700;
}
.price-model-section  p {
    color: #565656;
    font-size: 18px;
    font-weight: 400;
}
.price-model-section .toggle {
    position: relative;
    display: inline-block;
    width: 150px; /* Adjust width as needed */
    height: 40px; /* Adjust height as needed */
  }
  
  .price-model-section .toggle input[type="checkbox"] {
    display: none;
  }
  
  .price-model-section .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border: 1px solid #e4e4e4;
    transition: 0.4s;
    border-radius: 20px;
  }

  .price-model-section .slider::before {
    position: absolute;
    content: "";
    height: 40px;
    width: 80px;
    left: 70px;
    bottom: 0px;
    background-color: var(--blue);
    transition: 0.4s;
    border-radius: 20px;
  }
  
  .price-model-section .label-on,
  .price-model-section .label-off {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .price-model-section .label-on {
    left: 18px;
    color: #626262;
  }
  
  .price-model-section .label-off {
    right: 10px;
    color: #fff;
  }
 
  .price-model-section input[type="checkbox"]:checked + .slider:before  {
    background-color: var(--blue);
    left:0px;
  }
  
  .price-model-section .price-cards .single-card{
    border-radius: 24px;
    border: 1px solid #E2E2E2;
    background: #FCFCFC;
    box-shadow: 0px 0px 10px 0px rgba(223, 223, 223, 0.25);
    margin-top: 100px;
  }
  .price-model-section .price-cards .single-card:hover{
    box-shadow: 5px 5px 5px 5px rgba(156, 44, 44, 0.25);
  }
  .owl-three .owl-item img{
    width: 24px !important;
    height: 24px;
    display: inline !important;
  }
  .price-model-section .price-cards .single-card h4
 {
    color: #313131;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding-top: 40px;
 }
 .price-model-section .price-cards .single-card h5{
    color: var(--blue);
    font-size: 32px;
    font-weight: 700;
    padding-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .price-model-section .price-cards .single-card h5 span{
    color: #CACACA;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    padding-right: 4px;
 }
.price-model-section .price-cards .single-card h6{
    color: #313131;
    text-align: right;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 4px;
    
}

.price-model-section .price-cards .single-card ul{
    list-style: none;
    text-align: right;
    margin-top: 16px;
  }
  .price-model-section .price-cards .single-card ul li{
    margin-top: 12px;
  }
  .price-model-section .price-cards .single-card button{
    color: #FFF;
    width: 75%;
    font-size: 18px;
    font-weight: 700;
    padding: 13px 50px;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    border-radius: 8px;
    margin-bottom: 48px;
    margin-top: 42px;
    border: none;
  }
  .price-model-section .price-cards .single-card button:hover{
    background: #022366;
   
  }

  .price-model-section .price-cards .item .active{
    background-color: var(--blue) !important;
    color: #fff;
     position: relative;
    top:-40px;
  }
  .price-model-section .price-cards .item .active h4,
  .price-model-section .price-cards .item .active h5,
  .price-model-section .price-cards .item .active h6{
    color: #fff;
  }
  .price-model-section .price-cards .item .active button{
    background-color: var(--green);
  }
  .price-model-section .price-cards .item .active button:hover{
    background-color: var(--greenHover);
  }
  /********************************/
  /*Newsletter-Section*/
  .Newsletter-Section {
    margin-top: var(--margin-section-lg);
    background-color: #FCFCFC;
    text-align: center;
  }
  .Newsletter-Section h5{
    padding-top: 80px;
    color: var(--blue);
    font-size: 36px;
    font-weight: 700;
  }
  .Newsletter-Section h5 span
  {
    color: #2B9D6A;
    font-size: 36px;
    font-weight: 700;
  }
  .Newsletter-Section form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
    padding-bottom: 80px;
}
  .Newsletter-Section form input[type = "text"]{
    height: 48px;
    opacity: 0.4;
    background: #DADADA;
    border-radius: 0px 8px 8px 0px;
    border: none;
    padding: 15px;
  }
  .Newsletter-Section form input[type = "submit"]{
    display: inline-flex;
    padding: 13px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px 0px 0px 8px;
    background: var(--blue);
    border: none;
    height: 48px;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
  }
  .Newsletter-Section form input[type = "submit"]:hover{
    background: #022366;
  }


  /*move button*/
  
    #btn{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        bottom: 30px;
        right: 30px;
        transition: background-color .3s, opacity .5s, visibility .5s;
        opacity: 0;
        z-index: 1000;
        visibility: hidden;
    }
    

       #moveBtn{
    transform: rotate(360deg);
                }
    
       .whatsBtn
    {
        margin: 15px 0;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: #29A71A;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #btn.show {
        opacity: 1;
        visibility: visible;
     }
    .btn .moveBtn{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    }
  
 /* move buttn*/
/* Footer */

.footer-tag {
    margin-top: var(--margin-section-lg);
    background-color: var(--blue);
    padding-top: 60px;
}

.footer-tag .navbar-brand{
   border-radius: 50%;
   border: none;
   width: 48px;
   height: 48px;
   padding: 0px;
   background: none;
}
.footer-tag ul{
    text-align: right;
   margin-top: 48px;
}
.footer-tag ul li a{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    line-height: 3;
  
}
footer hr {
    height: 2px !important;
    color: white;
    margin: 0px !important;
}
footer .footer_sub-bg{
background-color: var(--blue);
}
footer .footer_sub {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: white;
    padding-bottom: 40px;
    padding-top:24px ;
    
}
footer .footer_sub .phone-num{
   direction: ltr;
   
    font-size: 20px;
    font-weight: 700;
    padding-left:16px;
 }
footer .footer_sub p {
    font-size: 20px;
    color: white;
    font-weight: 700;
}
#main_footer ul li a:hover {
    color: #fcfcfc;
}
footer .footer_sub .icons {
    display: flex;
    justify-content: left;
 
}
footer .footer_sub .icons a{
    text-decoration: none;
    color:white;
}
footer .footer_sub .icons i {
   font-size: 30px;
   padding-left: 20px;
}
/* responsive*/
@media (min-width:992px) and (max-width:1199px){
    /* .navbar span{
       display: none;
      } */
      .left-nav button {
        width: 135px;
      }
      .collapse .navbar-nav .nav-item a {
        padding-left: 15px;
        padding-right: 15px;
      }
      .header-section .header-text h2,
      .header-section .header-text h2 span {
        font-size: 48px;
      }
  } 
  @media (min-width:350px) and (max-width:767px){
    .header-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
     }
     .header-section .header-text h2,
     .header-section .header-text h2 span {
        text-align: center;
        font-size: 40px;
     }
   
     .header-section .header-text p{
        text-align: center;
        font-size: 18px;
     }
     .header-section .header-text button{
       margin: auto;
     }
     .partner-section h3 {
        font-size: 24px;
    }
    .partner-section p{
        font-size: 16px;
    }
    .owl-one .owl-item img {
        width: 140px !important;
    }
    .reverse-card{
        flex-direction: column-reverse;
    }
     #navbarSupportedContent{
        display: contents;
     }
     .left-nav {
        padding-right: 0px;
        margin-left: 0 !important;
     }
     .left-nav  .login-btn{
        display: none;
     }
     br{
        display: none;
     }
     .Become-Partner-text::after{
        content: '';
    }
    .Electronic-connectivity-Section .links-container {
        justify-content: center;
        align-items: center;
        margin-top: 0px;
    }
    .Electronic-connectivity-Section .links-container .frame{
        width: 33.3%;
        margin-top: 32px;
    }
     .Customer-Section .inline span{
        font-size: 16px;
        white-space: nowrap;
        padding-right: 2px;
        padding-top: 8px;
     }
     .Become-Partner-bg{
      text-align: center;
     }
     .Become-Partner-bg h3 {
        font-size: 24px;
        padding-right: 0px;
     }
     .Become-Partner-bg p{
        font-size: 18px;
        padding-right: 0px;
     }
     .Become-Partner-bg button{
        margin: auto;
     }
     .Become-Partner-bg .Become-Partner-ilistration,
     .Become-Partner-bg  .arow {
        display: none;
     }
     .Features-Section h4,
     .Features-Section h4 span,
     .Features-Section .single-card ,
     .Features-Section .single-card h5,
     .Electronic-connectivity-Section h5,
     .seven-section h4,
     .seven-section h4 span,
     .price-model-section h3,
     .Newsletter-Section h5,
     .Newsletter-Section h5 span {
        font-size: 24px;
     }
     .Features-Section p,
     .Electronic-connectivity-Section p,
     .seven-section.single-card .quote p,
     .Features-Section2 .single-card p,
     .price-model-section p,
     .Newsletter-Section p{
        font-size: 16px;
     }
     .Features-Section .single-card {
        text-align: center;
        align-items: center;
     }
     .Features-Section .single-card p{
        text-align: center;
        padding-left: 5px;
        font-size: 16px;
     }
     .Features-Section:nth-child(2)  {
        display: flex;
        flex-direction: column-reverse;
    }
    .Features-Section2 .single-card h5,
    .Features-Section2 h6{
        font-size: 24px;
    }

    .Features-Section2 {
    text-align: center;
    }
    .footer-tag {
        margin-top: 40px;
    }
    footer .list-unstyled{
        text-align: right;
        padding-right: 0 !important;
     }
     .footer-tag ul li a {
        font-size: 14px;
     }
     footer .footer_sub {
         display: flex;
         flex-direction: column;
         justify-content: center;
         text-align: center;
     }
     footer .footer_sub .icons{
        justify-content: space-around;
     }
     footer .footer_sub .icons i {
        font-size: 24px;
}
     #main_footer{
         margin-right: 0!important ;
     }
  
     footer .footer_sub p {
         width: 100%;
         font-size: 16px;
     }
     }
  
  @media (min-width:768px) and (max-width:991px){
     .header-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
     }


    .header-section .header-text h2
    {
        text-align: center;
        margin-top: 80px;
     }
     .header-section  .header-text p{
        text-align: center;
     }
     .header-section  .header-text button{
       display: block;
       margin: auto;
     }
     #navbarSupportedContent{
        display: contents;
     }
     .left-nav{
        margin-right: 7rem;
     }
     .Customer-Section .inline span{
        font-size: 18px;
        white-space: nowrap;
        padding-right: 8px;
        padding-top: 8px;
     }
     .Features-Section .single-card img{
        width: 36px;
        height: 36px;
     }
     .Features-Section .single-card h5{
        padding-top: 16px;
    font-size: 24px;
     }
     .Features-Section .single-card p{
        padding-left: 0;
        line-height: 1.5;
        font-size: 18px;
     }
     .Become-Partner-text{
        margin-right: 15%;
     }
     .Become-Partner-text::after{
        content: url(../images/Vector.svg);
        display: block;
        position: absolute;
        bottom: 5px;
        left: -100px;
     }
     footer .footer_sub {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    footer .footer_sub .icons{
        justify-content: space-around;
     }
     footer .footer_sub .icons i{
        font-size: 24px;
     }
  }